In [ ]:
import numpy as np

In [ ]:
import pandas as pd

#importing data

In [ ]:
data=pd.read_csv('/content/StudentsPerformanceAss3.csv')
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

#central tendency

In [27]:

#mean
data_mean_mathscore = np.mean(data['math score'])
data_mean_mathscore

66.001

In [ ]:
data_mean_readingscore = np.mean(data['reading score'])
data_mean_readingscore

69.195

In [ ]:
data_mean_writingscore = np.mean(data['writing score'])
data_mean_writingscore

68.119

In [ ]:
#median

In [ ]:
data_median_mathscore = np.median(data['math score'])
data_median_mathscore

66.0

In [ ]:
data_median_readingscore = np.median(data['reading score'])
data_median_readingscore

70.0

In [ ]:
data_median_writingscore = np.median(data['writing score'])
data_median_writingscore

69.0

In [ ]:
#mode

In [ ]:
data.mode()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some college,standard,none,65,72,74

#dispersion

In [ ]:
#variance

In [32]:
data['math score'].var()

242.4114104104104

In [33]:
data['reading score'].var()

216.27925425425423

In [34]:
data['writing score'].var()

231.84268168168165

In [ ]:
# standard deviation

In [38]:
data.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.001000      69.195000      68.119000
std      15.569567      14.706436      15.226381
min       0.000000      17.000000      10.000000
25%      57.000000      59.000000      58.000000
50%      66.000000      70.000000      69.000000
75%      77.000000      79.250000      79.000000
max     100.000000     100.000000     100.000000

In [44]:
data['math score'].std()

15.569566802272002

In [45]:
data['reading score'].std()

14.706435810700505

In [46]:
data['writing score'].std()

15.226381109169758