In [4]:
import numpy as np

In [5]:
import pandas as pd

#importing data

In [6]:
data=pd.read_csv('/content/StudentsPerformanceAss3.csv')
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

#central tendency

In [7]:

#mean
data_mean_mathscore = np.mean(data['math score'])
data_mean_mathscore

66.001

In [8]:
data_mean_readingscore = np.mean(data['reading score'])
data_mean_readingscore

69.195

In [9]:
data_mean_writingscore = np.mean(data['writing score'])
data_mean_writingscore

68.119

In [10]:
#median

In [11]:
data_median_mathscore = np.median(data['math score'])
data_median_mathscore

66.0

In [12]:
data_median_readingscore = np.median(data['reading score'])
data_median_readingscore

70.0

In [13]:
data_median_writingscore = np.median(data['writing score'])
data_median_writingscore

69.0

In [14]:
#mode

In [15]:
data.mode()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some college,standard,none,65,72,74

#dispersion

In [16]:
#variance

In [17]:
data['math score'].var()

242.4114104104104

In [18]:
data['reading score'].var()

216.27925425425423

In [19]:
data['writing score'].var()

231.84268168168165

In [20]:
# standard deviation and quartiles

In [25]:
data.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.001000      69.195000      68.119000
std      15.569567      14.706436      15.226381
min       0.000000      17.000000      10.000000
25%      57.000000      59.000000      58.000000
50%      66.000000      70.000000      69.000000
75%      77.000000      79.250000      79.000000
max     100.000000     100.000000     100.000000

In [24]:
# IQR

In [ ]:
#math score

In [39]:
q1=np.percentile(data['math score'],25,interpolation = 'midpoint')
q1

57.0

In [35]:
q3=np.percentile(data['math score'],75,interpolation = 'midpoint')
q3

77.0

In [64]:
IQR=q3-q1
IQR

20.5

In [ ]:
#reading score

In [45]:
q1_reading=np.percentile(data['reading score'],25,interpolation = 'midpoint')
q1_reading

59.0

In [46]:
q3_reading=np.percentile(data['reading score'],75,interpolation = 'midpoint')
q3_reading

79.5

In [65]:
IQR_reading=q3_reading-q1_reading
IQR_reading

20.5

In [49]:
q1_writing =58  # from table
q3_writing= 79
IQR_writing=q3_writing-q1_writing
print(IQR_writing)

21

In [ ]:
# skewness n kurtosis

In [52]:
data['math score'].skew()

-0.40117390503900024

In [53]:
data['reading score'].skew()

-0.2883616397714267

In [54]:
data['writing score'].skew()

-0.3015107763930539

In [55]:
data['math score'].kurtosis()

0.4719601501433992

In [56]:
data['reading score'].kurtosis()

-0.04444843439024604

In [57]:
data['writing score'].kurtosis()

-0.031677444231184904